body {
    background: grey;
    position: relative;
    text-align: center;
}

div {
    background-color: rgba(250, 230, 190, 0.5);
    z-index: 0;
}

h1, h2, h3 {
    margin: 1px;
}

.logo {
  position: fixed;      /* stays put when scrolling */
  bottom: 50px;         /* distance from bottom */
  right: 10px;          /* distance from right */
  width: 50%;         /* adjust size */
  /* opacity: 0.2;          optional, make it watermark-like */
  z-index: -1;          /* put behind other elements */
  pointer-events: none; /* so it won't block clicks */
}

.bg  { 
    background: grey;
    padding: 0px;
    border-radius: 0px;
    border: 0px;
    margin: 0px;
    position: fixed; 
    inset: 0; 
    pointer-events: none;     /* overlay */
    opacity: 0; 
    transition: opacity 5s ease; 
    z-index: -3; 
}

.title {
    font-family: monospace;
    width: 80%;
    padding: 3px;
    border: black 1px solid;
    border-radius: 10px;
    margin: 1px auto;
}

.userbar, .footer {
    width: 90%;
    padding: 3px 10px;
    border: black 1px solid;
    border-radius: 10px;
    margin: 3px auto;
    text-align: right;
}

.footer {
  position: fixed;      /* stays put when scrolling */
  bottom: 10px;         /* distance from bottom */
  right: 10px;          /* distance from right */
  z-index: 0;          /* put behind other elements */
  pointer-events: none; /* so it won't block clicks */
  font-size: 0.7em;
}

.ops {
  position: fixed;      /* stays put when scrolling */
  bottom: 20px;         /* distance from bottom */
  left: 10px;          /* distance from right */
  width: 50%;
  padding: 3px;
  border: black 1px solid;
  border-radius: 10px;
  margin: 3px auto;
  z-index: 0;          /* put behind other elements */
  pointer-events: none; /* so it won't block clicks */
  font-size: 0.9em;
}

form .login {
    display: inline;
}

.login input {
    margin: 2px;
    font-size: 0.7em;
    border-radius: 2px;
}
